html,
body {
    font-family: 'Cairo', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#fff;
}
.hero {
    overflow: auto;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("hero.jpg");
    background-size: cover;
    height: 100%;
}
.title{
    font-size: 3rem;
    margin-top: 15rem;
}
.button{
    font-size: 1.5rem;
    transition: all .8s;
}
.button:hover{

}
.campaign {
    margin-top: 18vh;
}
